.DS_Store
.env
.env.local
.env.*.local
node_modules/
.next/
out/
dist/
coverage/
cache/
broadcast/
artifacts/
typechain/
*.log
*.tsbuildinfo
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/
